.container{
    background-color: aliceblue;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.container .heading{
    font-size: 30px;
}
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10%;
    width: 100%;
}
.logo{
    position: relative;
    font-size: 50px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: blue;
}